<a href="https://colab.research.google.com/github/dcolinmorgan/grph/blob/main/generic_metagenomic_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tutorial: Quick metagenomic analysis using GPU UMAP analysis & visualization

Using GPU-accelerated UMAP analysis & visualization, metagenomic samples can be compared faster and much more easily explored.

*   Task: Analyze metagenomic samples for similarity
*   Data: 10 samples
*   [data](https://figshare.scilifelab.se/articles/dataset/Metagenomic_dataset_from_Swedish_urban_lakes/22270225?file=39602290)
*   [paper](https://pubmed.ncbi.nlm.nih.gov/15560821/)

**Insight/ Result:**

over XXx faster for entire
Offers more insight when static plot would otherwise fail
(See also: CPU baseline)

# Setup

(install cuda packages first)

In [ ]:
!pip install graphistry[ai]
!pip install dirty_cat umap-learn
import umap
import dirty_cat
!pip install Biopython

# import /configure

get a free api-key at https://www.graphistry.com/

In [2]:
import pandas as pd
import graphistry

graphistry.register(api=3,protocol="https", server="hub.graphistry.com", username='dcolinmorgan', password='fXjJnkE3Gik6BWy') ## key id, secret key

# graphistry.register(api=3,protocol="https", server="hub.graphistry.com", username='dcolinmorgan', password='***') ## key id, secret key
graphistry.__version__

'0.29.1'

# Data Download & Description

In [8]:
!wget https://figshare.scilifelab.se/ndownloader/files/39602290
!unzip -qq /content/39602290
# !wget https://figshare.scilifelab.se/ndownloader/files/39602299

--2023-07-10 06:35:44--  https://figshare.scilifelab.se/ndownloader/files/39602290
Resolving figshare.scilifelab.se (figshare.scilifelab.se)... 54.78.198.241, 52.213.99.67, 2a05:d018:1f4:d000:c976:a7ee:710c:3948, ...
Connecting to figshare.scilifelab.se (figshare.scilifelab.se)|54.78.198.241|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://presigned.s3.cloud.kth.se/scilifelab-datacentre-figshare1/39602290/All_MAGs.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=KMHK4V98D2R29HDPFASC/20230710/us-east-1/s3/aws4_request&X-Amz-Date=20230710T063544Z&X-Amz-Expires=10&X-Amz-SignedHeaders=host&X-Amz-Signature=a1b57a4f7336fb48898dfccc221e2babd269c24c2bc6a027ae572a332d9a51d7 [following]
--2023-07-10 06:35:44--  https://presigned.s3.cloud.kth.se/scilifelab-datacentre-figshare1/39602290/All_MAGs.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=KMHK4V98D2R29HDPFASC/20230710/us-east-1/s3/aws4_request&X-Amz-Date=20230710T063544Z&X-Amz-Expires=10&X-Amz-SignedHeaders=host&X-Amz-Signature=a1b57a4f7336fb48898dfccc221e2babd269c24c2bc6a027ae572a332d9a51d7
Resolving presigned.s3.cloud.kth.se (presigned.s3.cloud.kth.se)... 130.237.210.139
Connecting to presigned.s3.cloud.kth.se (presigned.s3.cloud.kth.se)|130.237.210.139|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1544011070 (1.4G) [application/zip]
Saving to: ‘39602290’

39602290            100%[===================>]   1.44G  24.1MB/s    in 67s

2023-07-10 06:36:53 (22.0 MB/s) - ‘39602290’ saved [1544011070/1544011070]

In [9]:
!head /content/All_MAGs/Sample_101_S75_bin_1.fa

>Sample_101_S75-bin_1-k141_1338904_length_14014_cov_309.3572
AATCACGCGTACGCCCGCACCTTGAACCGCTTTGCCGCTGCCCCCACATCATCCTCACGAAAGGTACCTT
TTCATGGAAAAAATTATCAAATCCGATGCGGAATGGCGGGCCGTATTGGACCCCGTTCAATATCATGTCC
TACGGGAGTCCGGCACTGAACGCGCCTTTGCCGGCGCGCTGACCGATGAAAAGCGCGAAGGCGAATTTCG
CTGCGCCGGCTGTGAGACTGCCCTGTTTGCTTCGGACACGAAATTTGACAGCGGTTCGGGTTGGCCAAGC
TTTACCGCGCCCGCAGACAATGATGCTGTTGAAGAGCACCGCGATACATCGCACGGCATGGTCCGCATTG
AAGTGCGCTGTGCCGCATGTGAGGGGCATTTGGGCCATGTCTTCCCCGATGGGCCTGGACCGACTGGCCT
GCGTTACTGCATCAACAGCGCCGCGCTTGCATTCGATCCTGAATAACAAGGCGCTTGTCGGCGGTTACGG
GACTGGGTAACACTCGGGCCATGGCACGCGCGCGCAAGATTTCGAAAGAACGTGGCCCAATGGCAACATG
GATACTCCGCATGGTCAAAGCGGGCGTCATCGCGGCGTTGCTGGGCGTCATGGTTCTTGGCATTTTTGTC

## Read in 10 fasta to compare

In [10]:
from Bio import SeqIO
import glob,os
import pandas as pd
B=pd.DataFrame()
for i in glob.glob('/content/All_MAGs/*.fa')[0:9]:
    # j=os.path.basename(i)
    fasta_sequences = SeqIO.parse(open(i),'fasta')
    identifiers = []
    sequences = []
    for fasta in fasta_sequences:
        name, sequence = fasta.id, str(fasta.seq)
        identifiers.append(name)
        sequences.append(sequence)

    A=pd.DataFrame([identifiers,sequences]).T
    A.columns=['ID','seq']
    A.dropna(inplace=True)
    B=B.append(A)
    # A['ID']#=A.ID.str.split('-')[0:1]
# B['ID']=B['ID'].str.split('-').str[0]+'_'+B['ID'].str.split('-').str[1]#.cat()
B['ID']=B.ID.str.split('_length').str[0]
B.index=B.ID

<ipython-input-10-b59f42588d34>:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  B=B.append(A)
<ipython-input-10-b59f42588d34>:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  B=B.append(A)
<ipython-input-10-b59f42588d34>:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  B=B.append(A)
<ipython-input-10-b59f42588d34>:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  B=B.append(A)
<ipython-input-10-b59f42588d34>:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  B=B.append(A)
<ipython-input-10-b59f42588d34>:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  B=B.append(A)
<ipython-input-10-b59f42588d34>:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  B=B.append(A)
<ipython-input-10-b59f42588d34>:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  B=B.append(A)
<ipython-input-10-b59f42588d34>:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  B=B.append(A)

In [11]:
B

,ID,seq
ID,,
Sample_110_S81-bin_116-k141_613475,Sample_110_S81-bin_116-k141_613475,GCGTAGTCTGACAGGTTCGTGCCAAATGAATCCCTTTTTCGAACTG...
Sample_110_S81-bin_116-k141_1652364,Sample_110_S81-bin_116-k141_1652364,GGTTAGTAGTCCCCAAAAAATTGCGCTGAGCAATGCAGCAAAGATT...
Sample_110_S81-bin_116-k141_719215,Sample_110_S81-bin_116-k141_719215,AGGCCTAACCAAATCAGTGCTAAAGTATTCATGGCGTGTCTCCCGA...
Sample_110_S81-bin_116-k141_2258219,Sample_110_S81-bin_116-k141_2258219,ATTTTCGCGAATTGTTGTGCGGTTTCTACGCTTATTTCATGGGTAT...
Sample_110_S81-bin_116-k141_1022213,Sample_110_S81-bin_116-k141_1022213,ATGAGTTTTAGGATTTAATGCTACTGACTATCAGCCCCAGCCATCC...
...,...,...
Sample_105_S79-bin_9-k141_291995,Sample_105_S79-bin_9-k141_291995,TTCAATTCATCCATCACCACTTAAGTTTCCTGGATTAGATCAGACA...
Sample_105_S79-bin_9-k141_2043216,Sample_105_S79-bin_9-k141_2043216,CATGCCAACATCGCAATCGCAGCTTCTGGAATCATCGGCATATAAA...
Sample_105_S79-bin_9-k141_640011,Sample_105_S79-bin_9-k141_640011,AACTTTGATAATCAACGTAGACAATTCCAAAGCGTTTTGCATACCC...
Sample_105_S79-bin_9-k141_906856,Sample_105_S79-bin_9-k141_906856,TTAAAGCCTGAACAGTTGCAACTAAAAGGTATCCACTCAGAATCTG...
Sample_105_S79-bin_9-k141_1198946,Sample_105_S79-bin_9-k141_1198946,CAGAGAGAATCTATCTACTATGAATCAGATATTTTCTAATCTATAT...

# install [HUMAnN 3](https://huttenhower.sph.harvard.edu/humann), a method for efficiently and accurately profiling the abundance of microbial metabolic pathways and other molecular functions from metagenomic or metatranscriptomic sequencing data.

In [ ]:
!pip install humann --no-binary :all:
!pip install metaphlan

In [ ]:
### !humann_databases --download utility_mapping full /path/to/databases --update-config yes

!humann_test

!wget https://github.com/biobakery/humann/raw/master/examples/demo.fastq.gz
!humann -i demo.fastq.gz -o sample_results

In [ ]:
mkdir assemble epi_sam_out mpa4_out

In [ ]:
# !humann -i /content/All_MAGs/Sample_101_S75_bin_1.fa -o test_out
%%bash
seq=$(ls /content/All_MAGs/*.fa | cut -d / -f3| cut -d _ -f1)

for i in $(eval "echo "$seq" | cut -d _ -f1")

do
humann /content/All_MAGs/${i}.fa --nproc 40 --input_type fasta -o /content/assemble/${i}/h4_out.txt -t rel_ab_w_read_stats
done

# umap and dbscan

In [10]:
data=pd.read_csv('/content/test.x',sep='\t',skiprows=1)
data

,clade_name,SRR9224202,SRR9224228,SRR9224232,SRR9224235,SRR9224237,SRR9224239,SRR9224241,SRR9224243,SRR9224246,...,SRR9224251,SRR9224253,SRR9224256,SRR9224260,SRR9224262,SRR9224264,SRR9224267,SRR9224269,SRR9224271,SRR9224273
0,k__Bacteria,100.00000,100.00000,100.00000,100.00000,100.00000,100.00000,100.00000,100.00000,100.00000,...,100.00000,100.00000,100.00000,100.00000,100.00000,100.00000,100.00000,100.00000,100.00000,100.00000
1,k__Bacteria|p__Bacteroidetes,66.32874,79.92286,77.08430,55.62514,76.72551,59.79179,60.61263,67.71892,70.79096,...,65.96152,27.44692,39.27692,84.26693,74.05894,55.41278,76.57037,82.89488,81.90366,68.59343
2,k__Bacteria|p__Firmicutes,32.33738,19.61338,19.58855,37.31145,16.82898,37.70989,34.15086,30.95814,25.92473,...,27.80030,49.37292,47.80972,15.04896,22.15606,44.24124,22.67234,16.34095,17.57218,28.89290
3,k__Bacteria|p__Proteobacteria,0.96190,0.37034,3.14086,6.17408,6.33044,0.95342,4.94418,0.95150,2.98740,...,4.17443,6.97006,6.11109,0.62870,2.90856,0.22629,0.49545,0.42585,0.29100,2.24813
4,k__Bacteria|p__Actinobacteria,0.37198,0.09343,0.18629,0.64017,0.08875,1.54490,0.21119,0.37144,0.29691,...,1.99613,16.19744,6.74587,0.05541,0.87445,0.11969,0.26184,0.29635,0.20394,0.22575
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,k__Bacteria|p__Firmicutes|c__Clostridia|o__Clo...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.04522,0.00000,0.00000
1006,k__Bacteria|p__Firmicutes|c__Clostridia|o__Clo...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.04522,0.00000,0.00000
1007,k__Bacteria|p__Firmicutes|c__Clostridia|o__Clo...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.01987
1008,k__Bacteria|p__Firmicutes|c__Clostridia|o__Clo...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.01987
1009,k__Bacteria|p__Firmicutes|c__Clostridia|o__Clo...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.01987

In [13]:

# B.drop(columns=['ID'],inplace=True)
g = graphistry.nodes(data)
g2=g.umap(dbscan=True)#feature_engine='cu_cat',engine='cuml')

# emb2=g2._node_embedding
# g222=graphistry.nodes(emb2.reset_index(),'ID').edges(g2._edges,'_src_implicit','_dst_implicit').bind(point_x="x",point_y="y").settings(url_params={"play":0})
g2.plot()

# Compare clustering distances to family/genus labels (gold standards)

In [ ]:
meta=pd.read_excel('/content/39602299')
A=meta.pplacer_taxonomy.str.split(';', expand=True)
A.index=meta.Bin_name
A

In [ ]:
stopppp

# bio-ml dataset


1.   [3 subjects x 10 time points](
https://www.ebi.ac.uk/ena/browser/view/PRJNA544527)

2.  [metadata](
https://static-content.springer.com/esm/art%3A10.1038%2Fs41591-019-0559-3/MediaObjects/41591_2019_559_MOESM3_ESM.xlsx)

3.   !wget https://raw.githubusercontent.com/dcolinmorgan/grph/main/ftp_PRJNA544527.txt